<footer>
    <div class="container">
        <p>© 2023 Succulent Miracle Spray. All rights reserved.</p>
        <ul class="social">
            <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i>X (Twitter)</a></li>
        </ul>
    </div>
</footer>